@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');

.SelectCarForm {
    width: 100%;
    margin-top: 160px;
}

.LabelDiv {
    width: 100%;
    height: 140px;
}

.VehicleSelectionComponent {
    width: 100%;
    height: 350px;
}

.ManufacturerModelDiv {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ManufacturerDiv {
    float: left;
    width: 34%;
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModelDiv {
    float: left;
    width: 33%;
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.EngineDiv {
    float: left;
    width: 33%;
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserInsertsDiv {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ZlicowanieDiv {
    float: left;
    width: 50%;
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.PoszPrzodDiv {
    float: left;
    width: 50%;
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.PoszTylDiv {
    float: left;
    width: 50%;
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.SubmitDiv {
    float: left;
    width: 100%;
    height: 120px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    font-family: 'Bai Jamjuree';
    font-size: 36px;
    font-weight: 400;
    color: white;
}

label[for=VehicleComponentLabel] {
    color: white;
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

select{
    font-family: 'Bai Jamjuree';
    font-size: 30px;
    font-weight: 400;
    color: white;
    background-color: black;
    width: 300px;
    border: 3px solid #5E4131;
    cursor:pointer;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

input[type=number]
{
    font-family: 'Bai Jamjuree';
    font-size: 30px;
    font-weight: 400;
    color: white;
    background-color: black;
    width: 300px;
    border: 3px solid #5E4131;
}

input[type=submit] {
    font-family: 'Bai Jamjuree';
    font-size: 30px;
    font-weight: 400;
    color: black;
    background-color: white;
    width: 300px;
    padding: 5px;
    border: 0;
}

input[type=submit]:hover {
    color: white;
    background-color: #5E4131;
    cursor:pointer;
}